.java2  {color: ChartReuse}
.java5  {color: LightGreen}
.java6  {color: Green}
.java7  {color: LightSeaGreen}
.java8  {color: Blue}
.java9  {color: Magenta}
.java10 {color: Orange}
.java16 {color: Red}
.java21 {color: Red}

.red                {color: Red}
.dark-red           {color: DarkRed}
.hot-pink           {color: HotPink}
.light-pink         {color: LightPink}
.fire-brick         {color: FireBrick} /*red*/
.green              {color: Green}
.light-green        {color: LightGreen}
.dark-green         {color: DarkGreen}
.medium-aqua-marine {color: MediumAquaMarine} /*green*/
.blue          {color: Blue}
.dodger-blue   {color: DodgerBlue}
.dark-blue     {color: DarkBlue}
.midnight-blue {color: MidnightBlue}
.brown    {color: Brown}
.orange   {color: Orange}
.purple   {color: Purple}
.grey     {color: Grey}

.border, .border th , .border td, .collapse-border, .collapse-border th, .collapse-border td {
	border: 1px solid;
	border-color: LightGray;
}
.collapse-border {border-collapse: collapse}
.padding th , .padding td {
	padding-left : 5px;
	padding-right: 5px;
}

.margin-left {margin-left: 1em}
.margin {margin: 1em}
.margin3px {margin: 3px}

.text-align-center  {text-align:center }
.text-align-initial {text-align:initial}

.code {color: DarkBlue}

.indent4 {height: 4px}
.indent8, .indent {height: 8px}

#toc h1 {margin: 0;}
#toc td:first-child {vertical-align: top}

.tooltip {
	color: MidnightBlue;
}

ul.ulWithMargin > li {margin: 10px 0;}

.nowrap {
	white-space: nowrap;
}

.overlap {
	position: relative;
	left: -8px;
}