.java1  {color: Black}
.java2  {color: ChartReuse; background-color: Grey; border-radius: 3px}
.java5  {color: LightGreen}
.java6  {color: Green}
.java7  {color: LightSeaGreen}
.java8  {color: Blue}
.java9  {color: Magenta}
.java10 {color: Orange}
.java12 {color: DarkOrange}
.java16 {color: Red}
.java21 {color: Red}

.red                {color: Red}       /* Red */
.tomato             {color: tomato}
.maroon             {color: maroon}
.magenta            {color: magenta}
.dark-red           {color: DarkRed}
.hot-pink           {color: HotPink}
.light-pink         {color: LightPink}
.fire-brick         {color: FireBrick} /* -Red- */
.green              {color: Green}     /* Green */
.teal               {color: Teal}
.light-green        {color: LightGreen}
.chart-reuse        {color: ChartReuse}
.dark-green         {color: DarkGreen}
.lime-green         {color: LimeGreen}
.medium-aqua-marine {color: MediumAquaMarine} /* -Green- */
.blue          {color: Blue}                  /* Blue */
.navy          {color: Navy}
.sky-blue      {color: SkyBlue}
.dodger-blue   {color: DodgerBlue}
.dark-blue     {color: DarkBlue}
.midnight-blue {color: MidnightBlue}          /* -Blue- */
.brown    {color: Brown}                      /* Brown */
.saddle-brown {color: SaddleBrown}
.orange      {color: Orange}
.dark-orange {color: DarkOrange}
.golden-rod  {color: GoldenRod}
.purple   {color: Purple}
.dark-magenta  {color: DarkMagenta}
.grey     {color: Grey}
.dim-grey {color: DimGrey}
.dark-grey{color: DarkGrey}
.black    {color: Black}

.back-white {background-color: white}
.back-red {background-color: red}
.back-pink {background-color: pink}
.back-green {background-color: green}
.back-light-green {background-color: LightGreen}
.back-lime-green {background-color: LimeGreen}
.back-yellow {background-color: yellow}
.back-orange {background-color: orange}
.back-tomato {background-color: tomato}
.back-sky-blue {background-color: SkyBlue}
.back-medium-spring-green {background-color: MediumSpringGreen}
.back-medium-aqua-marine {background-color: MediumAquaMarine}
.back-bfd {background-color: #BFD}
.back-gainsboro {background-color: Gainsboro}


.border, .border th , .border td, .collapse-border, .collapse-border th, .collapse-border td {
	border: 1px solid;
	border-color: LightGray;
}
.border-dark-gray, .border-dark-gray th, .border-dark-gray td{
	border-color: DarkGray;
}
.collapse-border {border-collapse: collapse}
.padding th , .padding td {
	padding-left : 5px;
	padding-right: 5px;
}
.padding3 {
	padding-left : 3px;
	padding-right: 3px;
}

.margin-left {margin-left: 1em}
.margin-left-2 {margin-left: 2em}
.margin {margin: 1em}
.margin-0 {margin: 0}
.margin-3 .margin3px {margin: 3px}
.margin-bottom-3 {margin-bottom: 3px}
.margin-bottom-0 {margin-bottom: 0}
.margin-top-3    {   margin-top: 3px}
.margin-top-0    {   margin-top: 0}
.margin-top-bottom-3 {margin-top: 3px; margin-bottom: 3px;}
.margin-top-bottom-0 {margin-top: 0px; margin-bottom: 0px;}

.text-align-center  {text-align:center }
.text-align-initial {text-align:initial}
.padding-left, .padding-left-1em {padding-left: 1em}

var {color: DarkGreen}
.code {color: DarkBlue}
code {color: DarkSlateGrey}
.bad-code {color: SaddleBrown}
.code-a code{
	color: DarkBlue;
	font-size: 17px;
}
.code-i code{
	color: Blue;
	font-size: 17px;
}

.zebra tr:nth-child(even) {
	background-color: Beige;
}
.zebra tr:first-child {
	background-color: LightBlue;
}

.indent4 {height: 4px}
.indent8, .indent {height: 8px}

#toc h1 {margin: 0;}
#toc td:first-child {vertical-align: top}

.tooltip {
	color: MidnightBlue;
}

ul.ulWithMargin > li, ul.ul-with-margin > li {margin: 10px 0;}
ol.olWithMargin > li {margin: 10px 0;}

.nowrap {
	white-space: nowrap;
}

.overlap {
	position: relative;
	left: -8px;
}

.warning-sign:before {
	content: '\26A0';
}

.link-sign:before {
	content: '\1F517';
}

.fs18 {
	font-size: 18px;
}
.fs20 {
	font-size: 20px;
}
.smaller {font-size: smaller}

.pointer {cursor: pointer}
.help {cursor: help}
.get-title { /* functional */
	cursor: help;
	color: MidnightBlue;
}

.bold,.b {font-weight: bold;}
.italic, .i {font-style: italic;}
.bi {
	font-weight: bold;
	font-style: italic;
}

.font-size-smaller {font-size: smaller}
.font-family-math  {font-family: math}
.strike {text-decoration: line-through}

.width100pct {width: 100%;}
.height2     {height: 2px;}

.display-none {display: none;}

.iframe { width:-webkit-fill-available; }

.footer {border:0; height: 35px;}
